<div id="<%= dom_id tryn %>">
  <p>
    <strong>Name:</strong>
    <%= tryn.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tryn.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= tryn.price %>
  </p>

</div>
