<div id="<%= dom_id kai %>">
  <p>
    <strong>Name:</strong>
    <%= kai.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= kai.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= kai.price %>
  </p>

</div>
